@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root{
    --text-primar: #FFFFFF;
    --text-secondery: rgba(255, 255, 255, 0.6);
    --bg-primary: #1A0B2E;
    --bg-secondery: #230E3D;
    --btn-primary-bg: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    --btn-primary-color: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared style */
.display-flex{
    display: flex;
}
.primary-btn{
    background: var(--btn-primary-bg);
    padding: 12px 20px;
    border-radius: 26px;
    border: none;
    color: var(--btn-primary-color);
    color: var(--text-primar);
    font-weight: 700;
    cursor: pointer;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-primar);
}
.section-description{
    font-size: 16px;
    color: var(--text-secondery);
    line-height: 1.5;
}


/* spacific style */
 header, main{
    max-width: 1600px;
    margin: 0 auto;
 }
.navbar{
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-primary);
    color: white;
}
.navbar .brand-logo{
    font-size: 2rem;
}
.navbar .brand-spacial{
    background:  linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar ul{
    list-style: none;
    gap: 32px;
    margin-block: 36.5px;
}
.navbar ul .link{
    text-decoration: none; 
    color: #FFFFFF;   
    font-weight: 500;
}
.navbar .btn-subscribe{
    padding-right: 16px;
}
.navbar .hamburger{
    display: none;
}

/* Banner related style */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container .banner{
    text-align: center;
}
.banner-container .banner .banner-media{
    position: relative;
}
.banner .banner-media #banner-badge{
    padding: 8px 16px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 60%;
    background-color: #00FF88;
    box-shadow: 0px 0px 3px 5px #00FF88;
}
.banner .banner-media .banner-micro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.banner .banner-content{
    margin-top: 40px;
    padding-bottom: 100px;
}
.banner .banner-content .banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--text-primar);
}
.banner .banner-content .banner-description{
    color: var(--text-primar);
    margin-bottom: 24px;
}
.fa-spotify{
    width: 20px;
    height: 20px;
    padding-right: 8px;
    color: var(--text-primar);
    text-align: center;
}
.banner .banner-content #banner-btn-subscribe{
    border: 2px solid #00FF88;
    border-radius: 20px;
    background: transparent;
    color: cyan;
    margin-left: 8px;
}
.fa-paper-plane{
    width: 20px;
    height: 20px;
    padding-right: 8px;
    color: #00FF88;
    text-align: center;
}

/* About podcast related style */
.about-container{
    background-color: var(--bg-primary);
}
.about-content .about-title{
    padding-bottom: 10px;
}
.about-container .about-content{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.about-container hr{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    border: none;
    margin-block: 80px;
}
.about-container .stats-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: clamp(40px, 5vw, 95px);
}
.stats-container .stats{
    text-align: center;
    margin-bottom: 40px;
}
.stats-container .stats .stats-value{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.stats-container .stats .stats-description{
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.25;
}
 





/* Small device */
@media screen and (max-width: 576px) {
    .navbar ul .link,
    .btn-subscribe
    {
        display: none;
    }
    .navbar .hamburger{
        display: block;
    }

    /* Stats section responsive */
    .about-container .stats-container{
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(20px, 5vw, 95px);
}
}